.button {
  font-family: inherit;
}

.button:hover {
  opacity: 0.9;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--primary {
  background-color: #d4af80;
  color: #4a4a4a;
}

.button--secondary {
  background-color: #6d8b74;
  color: #f3e5d8;
}
